@import "tailwindcss";

@custom-variant light (&:is(.light *));

@plugin "tailwindcss-animate";

@theme {
  --breakpoint-xs: 474px;
  --breakpoint-sm: 540px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1140px;
  --breakpoint-2xl: 1320px;

  --color-primary: #ff4141;

  --color-accent: #0d83fd;
  --color-text: #171717;
  --color-red: #ff4141;
  --color-accent-hover: #00e187;

  --background-image-custom-gradient: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
  --background-color-primary: #ff4141;
  --background-image-custom-banner: url('/assets/woman-2564660_1920.jpg')
  
}

body {
  color: #171717;
  font-family: var(--font-poppins);
}

:root {
  --background: 0 100% 95%;
  --foreground: 0 5% 0%;
  --card: 0 50% 90%;
  --card-foreground: 0 5% 10%;
  --popover: 0 100% 95%;
  --popover-foreground: 0 100% 0%;
  --primary: 0 100% 62.7%;
  --primary-foreground: 0 0% 0%;
  --secondary: 0 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -38 30% 85%;
  --muted-foreground: 0 5% 35%;
  --accent: -38 30% 80%;
  --accent-foreground: 0 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 0 5% 90%;
  --border: 0 30% 50%;
  --input: 0 30% 18%;
  --ring: 0 100% 62.7%;
  --radius: 0.5rem;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.869 0.022 252.894);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=--theme(--breakpoint-xs)) {
    max-width: none;
  }

  @media (width >=374px) {
    max-width: 374px;
    padding-inline: 1.5rem;
  }

  @media (width >=540px) {
    max-width: 540px;
    padding-inline: 2rem;
  }

  @media (width >=720px) {
    max-width: 720px;
    padding-inline: 2rem;
  }

  @media (width >=960px) {
    max-width: 960px;
    padding-inline: 2rem;
  }

  @media (width >=1140px) {
    max-width: 1140px;
    padding-inline: 2rem;
  }
  @media (width >=1240px) {
    max-width: 1240px;
    padding-inline: 2rem;
  }
  @media (width >=1540px) {
    max-width: 1540px;
    padding-inline: 2rem;
  }

}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
@layer utilities {

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}
